<ion-header>
  <ion-toolbar>
    <ion-row>
    <ion-back-button></ion-back-button>
  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
  <ion-row>
    <ion-col (click)="player.color='white'">
      <div class="colorBox" style="background: white"></div>
    </ion-col>
    <ion-col (click)="player.color='red'">
      <div class="colorBox" style="background: red"></div>
    </ion-col>
    <ion-col (click)="player.color='black'">
      <div class="colorBox" style="background: black"></div>
    </ion-col>
    <ion-col (click)="player.color='blue'">
      <div class="colorBox" style="background: blue"></div>
    </ion-col>
    <ion-col (click)="player.color='green'">
      <div class="colorBox" style="background: green"></div>
    </ion-col>
    <ion-col (click)="player.color='yellow'">
      <div class="colorBox" style="background: yellow"></div>
    </ion-col>
    <ion-col (click)="player.color='purple'">
      <div class="colorBox" style="background: purple"></div>
    </ion-col>
    <ion-col (click)="player.color='orange'">
      <div class="colorBox" style="background: orange"></div>
    </ion-col>
    <ion-col (click)="player.color='lightblue'">
      <div class="colorBox" style="background: lightblue"></div>
    </ion-col>
    <ion-col (click)="player.color='pink'">
      <div class="colorBox" style="background: pink"></div>
    </ion-col>
    <ion-col (click)="player.color='greenyellow'">
      <div class="colorBox" style="background: greenyellow"></div>
    </ion-col>
    <ion-col (click)="player.color='orangered'">
      <div class="colorBox" style="background: orangered"></div>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
