<ion-header>
  <ion-toolbar>
    <ion-row style="padding: 0">
    <ion-back-button></ion-back-button>
    <span *ngIf="player.position == 1">
      <ion-input placeholder="Player 1" class="toolbar-input" [(ngModel)]="gameService.game.player1Name"></ion-input> <!--When text is entered, run setName-->
      <ion-input placeholder="Commander 1" [(ngModel)]="gameService.game.player1Commander1"></ion-input>
      <ion-input placeholder="Commander 2" *ngIf="gameService.game.player1Partners" [(ngModel)]="gameService.game.player1Commander2"></ion-input>
    </span>
    <span *ngIf="player.position == 2">
      <ion-input placeholder="Player 2" class="toolbar-input" [(ngModel)]="gameService.game.player2Name"></ion-input> <!--When text is entered, run setName-->
      <ion-input placeholder="Commander 1" [(ngModel)]="gameService.game.player1Commander1"></ion-input>
      <ion-input placeholder="Commander 2" *ngIf="gameService.game.player2Partners" [(ngModel)]="gameService.game.player2Commander2"></ion-input>
    </span>
    <span *ngIf="player.position == 3">
      <ion-input placeholder="Player 3" class="toolbar-input" [(ngModel)]="gameService.game.player3Name"></ion-input> <!--When text is entered, run setName-->
      <ion-input placeholder="Commander 1" [(ngModel)]="gameService.game.player3Commander1"></ion-input>
      <ion-input placeholder="Commander 2" *ngIf="gameService.game.player3Partners" [(ngModel)]="gameService.game.player3Commander2"></ion-input>
    </span>
    <span *ngIf="player.position == 4">
      <ion-input placeholder="Player 4" class="toolbar-input" [(ngModel)]="gameService.game.player4Name"></ion-input> <!--When text is entered, run setName-->
      <ion-input placeholder="Commander 1" [(ngModel)]="gameService.game.player4Commander1"></ion-input>
      <ion-input placeholder="Commander 2" *ngIf="gameService.game.player4Partners" [(ngModel)]="gameService.game.player4Commander2"></ion-input>
    </span>
    <span *ngIf="player.position == 5">
      <ion-input placeholder="Player 5" class="toolbar-input" [(ngModel)]="gameService.game.player5Name"></ion-input> <!--When text is entered, run setName-->
      <ion-input placeholder="Commander 1" [(ngModel)]="gameService.game.player5Commander1"></ion-input>
      <ion-input placeholder="Commander 2" *ngIf="gameService.game.player5Partners" [(ngModel)]="gameService.game.player5Commander2"></ion-input>
    </span>
    <span *ngIf="player.position == 6">
      <ion-input placeholder="Player 6" class="toolbar-input" [(ngModel)]="gameService.game.player6Name"></ion-input> <!--When text is entered, run setName-->
      <ion-input placeholder="Commander 1" [(ngModel)]="gameService.game.player6Commander1"></ion-input>
      <ion-input placeholder="Commander 2" *ngIf="gameService.game.player6Partners" [(ngModel)]="gameService.game.player6Commander2"></ion-input>
    </span>
  </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100vh" scroll-y="false">
  
  <ion-row>
    <div class="profile-text">Partners?</div>
  <ion-toggle (ionChange)="togglePartners()" checked="{{player.partners}}" style="padding-top: 8px;">
  </ion-toggle>
  <div class="profile-text">Color</div>
  <div class="colorPicker" id="colorPicker" [ngStyle]="{'background' : player.color}" routerLink="/color-picker"></div>
  </ion-row>
  
  <ion-row>
  <ion-col class="infect-label">
    Infect
  </ion-col>
  <ion-col class="small-col" (click)="infectDown()">
    -
  </ion-col>
  <ion-col class="small-col">
    {{player.infect}}
  </ion-col>
  <ion-col class="small-col" (click)="infectUp()">
    +
  </ion-col>
  </ion-row>
  <ion-col>
    <h4>Commander Damage</h4>
  </ion-col>
  <ion-row *ngIf="player.position != 1">
    <ion-col class="commander-label">
      {{gameService.game.player1Commander1}} :
    </ion-col>
    <ion-col (click)="commanderDamageDown(1)" class="small-col">
      -
    </ion-col>
    <ion-col class="small-col">
      {{player.commanderDamageFromPlayer1First}}
    </ion-col>
    <ion-col (click)="commanderDamageUp(1)" class="small-col">
      +
    </ion-col>
    <ion-col class="commander-label" *ngIf="gameService.game.player1Partners">
      {{gameService.game.player1Commander2}} :
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player1Partners" (click)="altCommanderDamageDown(1)">
      -
    </ion-col>
    <ion-col *ngIf="gameService.game.player1Partners" class="small-col">
      {{player.commanderDamageFromPlayer1Second}}
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player1Partners" (click)="altCommanderDamageUp(1)">
      +
    </ion-col>
  </ion-row>
  <ion-row *ngIf="player.position != 2">
    <ion-col class="commander-label">
      {{gameService.game.player2Commander1}} :
    </ion-col>
    <ion-col class="small-col" (click)="commanderDamageDown(2)">
      -
    </ion-col>
    <ion-col class="small-col">
      {{player.commanderDamageFromPlayer2First}}
    </ion-col>
    <ion-col class="small-col" (click)="commanderDamageUp(2)">
      +
    </ion-col>
    <ion-col class="commander-label" *ngIf="gameService.game.player2Partners">
      {{gameService.game.player2Commander2}} :
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player2Partners" (click)="altCommanderDamageDown(2)">
      -
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player2Partners">
      {{player.commanderDamageFromPlayer2Second}}
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player2Partners" (click)="altCommanderDamageUp(2)">
      +
    </ion-col>
  </ion-row>
  <ion-row *ngIf="player.position != 3 && gameService.game.playerCount > 2">
    <ion-col class="commander-label">
      {{gameService.game.player3Commander1}} :
    </ion-col>
    <ion-col class="small-col" (click)="commanderDamageDown(3)">
      -
    </ion-col>
    <ion-col class="small-col">
      {{player.commanderDamageFromPlayer3First}}
    </ion-col>
    <ion-col class="small-col" (click)="commanderDamageUp(3)">
      +
    </ion-col>
    <ion-col class="commander-label" *ngIf="gameService.game.player3Partners">
      {{gameService.game.player3Commander2}} :
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player3Partners" (click)="altCommanderDamageDown(3)">
      -
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player3Partners">
      {{player.commanderDamageFromPlayer3Second}}
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player3Partners" (click)="altCommanderDamageUp(3)">
      +
    </ion-col>
  </ion-row>
  <ion-row *ngIf="player.position != 4 && gameService.game.playerCount > 3">
    <ion-col class="commander-label">
      {{gameService.game.player4Commander1}} :
    </ion-col>
    <ion-col class="small-col" (click)="commanderDamageDown(4)">
      -
    </ion-col>
    <ion-col class="small-col">
      {{player.commanderDamageFromPlayer4First}}
    </ion-col>
    <ion-col class="small-col" (click)="commanderDamageUp(4)">
      +
    </ion-col>
    <ion-col class="commander-label" *ngIf="gameService.game.player4Partners">
      {{gameService.game.player4Commander2}} :
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player4Partners"  (click)="altCommanderDamageDown(4)">
      -
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player4Partners">
      {{player.commanderDamageFromPlayer4Second}}
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player4Partners" (click)="altCommanderDamageUp(4)">
      +
    </ion-col>
  </ion-row>

  <ion-row *ngIf="player.position != 5 && gameService.game.playerCount > 4">
    <ion-col class="commander-label">
      {{gameService.game.player5Commander1}} :
    </ion-col>
    <ion-col class="small-col" (click)="commanderDamageDown(5)">
      -
    </ion-col>
    <ion-col class="small-col">
      {{player.commanderDamageFromPlayer5First}}
    </ion-col>
    <ion-col class="small-col" (click)="commanderDamageUp(5)">
      +
    </ion-col>
    <ion-col *ngIf="gameService.game.player5Partners" class="commander-label">
      {{gameService.game.player5Commander2}} :
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player5Partners"  (click)="altCommanderDamageDown(5)">
      -
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player5Partners">
      {{player.commanderDamageFromPlayer5Second}}
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player5Partners" (click)="altCommanderDamageUp(5)">
      +
    </ion-col>
  </ion-row>

  <ion-row *ngIf="player.position != 6 && gameService.game.playerCount > 5">
    <ion-col class="commander-label">
      {{gameService.game.player6Commander1}} :
    </ion-col>
    <ion-col class="small-col" (click)="commanderDamageDown(6)">
      -
    </ion-col>
    <ion-col class="small-col">
      {{player.commanderDamageFromPlayer6First}}
    </ion-col>
    <ion-col class="small-col" (click)="commanderDamageUp(6)">
      +
    </ion-col>
    <ion-col *ngIf="gameService.game.player6Partners" class="commander-label">
      {{gameService.game.player6Commander2}} :
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player6Partners"  (click)="altCommanderDamageDown(6)">
      -
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player6Partners">
      {{player.commanderDamageFromPlayer6Second}}
    </ion-col>
    <ion-col class="small-col" *ngIf="gameService.game.player6Partners" (click)="altCommanderDamageUp(6)">
      +
    </ion-col>
  </ion-row>
</ion-content>
