ion-input {
    background-color: white;
    color: black;
    height: 25px;
    max-width: 250px;
    margin-left: 24px;
    margin-bottom: 12px;
    color:"ion-text-color"
}

.toolbar-input {
    margin-top: 8px;
}

ion-text {
    color: "ion-text-color"
}

ion-back-button {
    width: 50px;
}

ion-content {
    font-size: larger;
    font-family: Arial;
}

.colorPicker {
    border-radius: 6px;
    border: white 1px solid;
    height: 20px;
    margin-top: 6px;
    margin-left: 6px;
    width: 20px;
    background-color: white;
}

.profile-text {
    padding-top: 8px;
    padding-left: 5px;
}

@supports (-webkit-overflow-scrolling: touch) {
    ion-toggle {
        padding-top: 5px;
        height: 22px;
        margin-left: 8px;
        margin-right: 8px;
    }
  }