ion-input {
    background-color: white;
    color: black;
    height: 25px;
    max-width: 250px;
    margin-left: 24px;
    margin-bottom: 12px;
    color:"ion-text-color"
}

.toolbar-input {
    margin-top: 8px;
}

ion-text {
    color: "ion-text-color"
}

ion-back-button {
    width: 50px;
}