<ion-content [fullscreen]="true">
  <div style="display: inline-block; margin-right: 16px" (click)="promptRestart()">
    New Game
  </div>
  <div style="display: inline-block;" *ngIf="playerCount < 6" (click)="addPlayer()">
    Add Player
  </div>
  <ion-grid>
    <ion-row *ngIf="gameService.game.player1Name || gameService.game.player2Name || gameService.game.player5Name" style="height: 70px">
      <ion-col> {{gameService.game.player1Name}} </ion-col>
      <ion-col> {{gameService.game.player2Name}} </ion-col>
      <ion-col *ngIf="playerCount > 4"> {{gameService.game.player5Name}} </ion-col>
    </ion-row>
    <ion-row>
      <!-- Player 1 -->
      <ion-col id="player1" class="playerbox" [ngStyle]="{'background' : p1.color, 'color' : fontColor(p1.color)}" >
        <ion-col (click)="lowerLife('p1Life')"> - </ion-col>
        <ion-col routerLink="/profile" (click)="this.setPlayer(p1, p1Name)">
          {{p1.life}}
        </ion-col>
        <ion-col (click)="raiseLife('p1Life')"> + </ion-col>
      </ion-col>
      <!-- Player 2 -->
      <ion-col id="player2" class="playerbox" [ngStyle]="{'background' : p2.color, 'color' : fontColor(p2.color)}">
        <ion-col (click)="lowerLife('p2Life')"> - </ion-col>
        <ion-col routerLink="/profile" (click)="this.setPlayer(p2, p2Name)">
          {{p2.life}}
        </ion-col>
        <ion-col (click)="raiseLife('p2Life')"> + </ion-col>
      </ion-col>
      <!-- Player 5 -->
      <ion-col id="player5" class="playerbox" [ngStyle]="{'background' : p5.color, 'color' : fontColor(p5.color)}" *ngIf="playerCount > 4">
        <ion-col (click)="lowerLife('p5Life')"> - </ion-col>
        <ion-col routerLink="/profile" (click)="this.setPlayer(p5, p5Name)">
          {{p5.life}}
        </ion-col>
        <ion-col (click)="raiseLife('p5Life')"> + </ion-col>
      </ion-col>
    </ion-row>

    <ion-row>
      <!-- Player 3 -->
      <ion-col id="player3" class="playerbox" [ngStyle]="{'background' : p3.color, 'color' : fontColor(p3.color)}">
        <ion-col (click)="lowerLife('p3Life')"> - </ion-col>
        <ion-col routerLink="/profile" (click)="this.setPlayer(p3, p3Name)">
          {{p3.life}}
        </ion-col>
        <ion-col (click)="raiseLife('p3Life')"> + </ion-col>
      </ion-col>

        <!-- Player 4 -->
        <ion-col id="player4" class="playerbox" [ngStyle]="{'background' : p4.color, 'color' : fontColor(p4.color)}">
        <ion-col (click)="lowerLife('p4Life')"> - </ion-col>
        <ion-col routerLink="/profile" (click)="this.setPlayer(p4, p4Name)">
          {{p4.life}}
        </ion-col>
        <ion-col (click)="raiseLife('p4Life')"> + </ion-col>
      </ion-col>

      <!-- Player 6 -->
      <ion-col id="player6" class="playerbox" [ngStyle]="{'background' : p6.color, 'color' : fontColor(p6.color)}" *ngIf="playerCount > 5">
        <ion-col (click)="lowerLife('p6Life')"> - </ion-col>
        <ion-col routerLink="/profile" (click)="this.setPlayer(p6, p6Name)">
          {{p6.life}}
        </ion-col>
        <ion-col (click)="raiseLife('p6Life')"> + </ion-col>
      </ion-col>
    </ion-row>
    <ion-row style="height: 12px">
      <ion-col> {{gameService.game.player3Name}} </ion-col>
      <ion-col> {{gameService.game.player4Name}} </ion-col>
      <ion-col *ngIf="playerCount > 5"> {{gameService.game.player6Name}} </ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <!-- Jonathan Correa -->
  </div>
</ion-content>

