ion-content {
  text-align: center;
  font-size: 40px;
}

ion-row {
  height: 45%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

ion-grid {
  height: 85%;
}

custom-column {
  width: 30px;
}