<ion-content [fullscreen]="true">
  <div (click)="promptRestart()">
    New Game
  </div>
  <ion-grid>
    <ion-row style="height: 12px">
      <ion-col>
        {{game.game.player1Name}}
      </ion-col>
      <ion-col>
        {{game.game.player2Name}}
      </ion-col> 
    </ion-row>
    <ion-row>
      <ion-col (click)="lowerLife('p1Life')">
        -
      </ion-col>
      <ion-col routerLink="/profile" (click)="this.setPlayer(p1, p1Name)">
        {{p1.life}}
      </ion-col>
      <ion-col (click)="raiseLife('p1Life')">
        +
      </ion-col>
      <ion-col (click)="lowerLife('p2Life')">
        -
      </ion-col>
      <ion-col routerLink="/profile" (click)="this.setPlayer(p2, p2Name)">
        {{p2.life}}
      </ion-col>
      <ion-col (click)="raiseLife('p2Life')">
        +
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="lowerLife('p3Life')">
        -
      </ion-col>
      <ion-col routerLink="/profile" (click)="this.setPlayer(p3, p3Name)">
        {{p3.life}}
      </ion-col>
      <ion-col (click)="raiseLife('p3Life')">
        +
      </ion-col>
      <ion-col (click)="lowerLife('p4Life')">
        -
      </ion-col>
      <ion-col routerLink="/profile" (click)="this.setPlayer(p4, p4Name)">
        {{p4.life}}
      </ion-col>
      <ion-col (click)="raiseLife('p4Life')">
        +
      </ion-col>
    </ion-row>
    <ion-row style="height: 12px">
      <ion-col>
        {{game.game.player3Name}}
      </ion-col>
      <ion-col>
        {{game.game.player4Name}}
      </ion-col> 
    </ion-row>
  </ion-grid>
  <div>
    <!-- Jonathan Correa -->
  </div>
</ion-content>

<!-- <ion-grid>
    <ion-row>
      <ion-col id="divOne" (click)="takeAction($event,'p1Life')" style="background-color: #ff0000">
        <div>
            {{p1Life}}
        </div>
      </ion-col>
      <ion-col (click)="takeAction($event,'p2Life')" style="background-color: #ffffff;">
        <div>
          {{p2Life}}
    </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col (click)="takeAction($event,'p3Life')" style="background-color: #5260ff;">
        <div>
          {{p3Life}}
    </div>
      </ion-col>
      <ion-col (click)="takeAction($event,'p4Life')" style="background-color: #2dd36f;">
        <div>
          {{p4Life}}
    </div>
      </ion-col>
    </ion-row>
  </ion-grid> -->

<!-- <ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col style="background-color: #ff0000;">
      <ion-button  color="primary" (click)="lowerLife('p1Life')">-</ion-button>
      <span>{{p1Life}}</span>
      <ion-button color="primary" (click)="raiseLife('p1Life')">+</ion-button>
    </ion-col>
    <ion-col style="background-color: #ffffff;">
      <ion-button  color="secondary" (click)="lowerLife('p2Life')">-</ion-button>
      <span>{{p2Life}}</span>
      <ion-button color="secondary" (click)="raiseLife('p2Life')">+</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col style="background-color: #5260ff;">
      <ion-button  color="tertiary" (click)="lowerLife('p3Life')">-</ion-button>
      <span>{{p3Life}}</span>
      <ion-button color="tertiary" (click)="raiseLife('p3Life')">+</ion-button>
    </ion-col>
    <ion-col style="background-color: #2dd36f;">
      <ion-button  color="success" (click)="lowerLife('p4Life')">-</ion-button>
      <span>{{p4Life}}</span>
      <ion-button color="success" (click)="raiseLife('p4Life')">+</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content> -->
